
*{ margin:0; padding:0;}

ul,li{
    list-style:none;
}

img {
    max-width: 100%;
    height: auto;
}

a{
    text-decoration:none;
    color:#0095da;
}

.clear:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}


.md-left {
    float: left;
}

.markdown-body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #314659;
    overflow: hidden;
    font-family: "Microsoft YaHei", Helvetica, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", "Monaco", monospace, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}

.markdown-body * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.markdown-body table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0;
    margin-bottom: 16px;
}

.markdown-body table th {
    font-weight: bold;
}

.markdown-body table th,
.markdown-body table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

.markdown-body table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.markdown-body table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.editormd-preview-container table thead tr, .editormd-html-preview table thead tr {
    background-color: #F8F8F8;
}

pre.prettyprint {
    padding: 10px;
    border: 1px solid #ddd;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #fbfbfb;
}

